.mentors-container {
  padding: 10px;
}

.mentors-grid {
  display: flex;
  width: auto;
}

.mentors-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
 
.mentors-grid_column > div {
  background: grey;
  margin-bottom: 30px;
}