.mentors-container {
  padding: 10px 10px 10px 15px;
}

.mentors-grid {
  display: flex;
  width: auto;
}

.mentors-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
 
.mentors-grid_column > div {
  background: grey;
  margin-bottom: 30px;
}

.mentors-results {
  color: #ccc;
  margin: 0 14%;
  font-size: 1.5rem;
}