.mentors-card {
  box-shadow: 8px 9px 12px -11px rgb(72, 70, 72);
  margin: 15px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 15px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.25);
    &:hover {
      cursor: pointer;
      margin-bottom: -2px;
      border-bottom: 2px solid #12f1fc;
    }
  p, span {
    margin: 10px;
    color:navy;
  }
}

.mentor-card-link {
  text-decoration: none;
}

.loc-lang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .loc {
    width: 65%;
    color: green;
  }
  .lang {
    width: 35%;
    color: red;
  }
}