.mentor-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .Collapsible {
    margin: 10px auto;
  }
}

.avail .Collapsible__contentInner {
  display: flex;
  flex-direction: column;
  p {
    margin: 5px;
  }
}

.slack-message .Collapsible__contentInner {
  display: flex;
  flex-direction: column;
}

.contact-info .Collapsible__contentInner {
  display: flex;
  flex-direction: column;

  p {
    margin: 5px;
  }
}

// .contact-info p {
// }

.mentor-popup .Collapsible__contentInner {
  display: flex;
  justify-content: space-around;
  div {
    width: 50%;
  }
  p {
    margin: 5px 0;
  }

}