.bg-info {
  display: block;
  resize: none;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 10px;
  white-space: nowrap;
  padding: 5px;
  margin: 10px auto;
  &::placeholder {
    color: #adadad;
  }
}