@import './variables.scss';
@import './containers/App/App.scss';
@import './components/CreateCheckbox/CreateCheckbox.scss';
@import './components/CreateNumberInput/CreateNumberInput.scss';
@import './components/CreateTextInput/CreateTextInput.scss';
@import './containers/Form/Form.scss';
@import './components/FormChoice/FormChoice.scss';
@import './components/HeroImage/HeroImage.scss';
@import './containers/Mentors/Mentors.scss';
@import './components/MentorCard/MentorCard.scss';
@import './containers/MentorControls/MentorControls.scss';
@import './components/MentorPopup/MentorPopup.scss';
@import './components/Nav/Nav.scss';
@import './components/NotFound/NotFound.scss';
@import './components/UserBackground/UserBackground.scss';
@import './components/UserInfo/UserInfo.scss';
@import './components/UserSchedule/UserSchedule.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
